<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Recipes Page</title>
<link th:href="@{/styles/styling.css}" rel="stylesheet" />
</head>
<body>
	<div class="navigation">
		<ul class="navigation">
		  <li class="navigation"><a href="feed">Home</a></li>
		  <li class="navigation"><a href="my_recipes">My Recipes</a></li>
		  <li class="navigation"><a href="my_collections">My Collections</a></li>
		  <li class="navigation"><a href="saved_collections">Saved Collections</a></li>
		  <li class="navigation"><a href="following">Following</a></li>
		  <li class="navigation"><a href="logout">Logout</a></li>
		</ul>
	</div>

	<h3>All Recipes</h3>
	
	<form method="post" action="recipes/search/mealType">
		<label>Meal Type</label>
	   <input type="text" name="mealType" placeholder="Find by Meal Type">
	   <button type="submit" class="btn btn-info" >Search</button>
	   <button type="submit" class="btn btn-info" th:formaction="@{/recipes/reset}">Reset</button>
	</form>
	<form method="post" action="recipes/search/cuisineType">
		<label>Cuisine Type</label>
	   <input type="text" name="cuisineType" placeholder="Find by Cuisine Type">
	   <button type="submit" class="btn btn-info" >Search</button>
	   <button type="submit" class="btn btn-info" th:formaction="@{/recipes/reset}">Reset</button>
	</form>

		<div>	
			<table>
				<thead>
				<tr>
			        <th>Recipe Name</th>
			    </tr>
		     	</thead>
				<tbody>
				<tr th:each="recipe:${recipes}">
					<td> <a class="recipe_list" th:href="@{/recipes/{recipeId}(recipeId=${recipe.recipeId})}">
						 <span th:text="${recipe.recipeName}"></span></a> </td>
				</tr>
				</tbody>
			</table>
		</div>
		
</body>
</html>